.buy-now-page {
    padding: 16px;
    margin-left: 100px;
    margin-right: 100px;
}
.pageAddress{
    margin-top: 30px;
    font-size: 16px;
    color: #121217;
    margin-left: 20px;
}

.productCard {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 30px 0;
    justify-content: space-between;
    img{
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}
.card-left{
    display: flex;
    gap: 20px;
}
.card-right{
    display: flex;
    align-items: center;
}

.productImage {
    flex: 1;
    margin-right: 16px;
}

.productDetails {
    flex: 2;
    p{
        font-size: small;
        color: gray;
    }
}

.order-summary {
    border-top: 1px solid #eee;
    padding: 16px 0;
    div {
        justify-items: right;
    }
}
.summary-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    p{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.billing-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
        width: 30px;
        height: 30px;
    }
}
.confirm-order {
    margin-top: 16px;
    padding: 12px 16px;
    background-color: #d6a5e6;
    color: rgb(31, 31, 31);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: darken(#d6a5e6, 10%);
    }
}
@media (max-width: 768px) {
    .buy-now-page {
    padding: 16px;
    margin-left: 20px;
    margin-right: 20px;
}
}